# Node dependencies
**/node_modules/
**/build/
**/dist/

# dotenv or secrets (if used later)
.env

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Uploads (optional if large or private)
backend/uploads/
